<p>
  <strong>Titulo:</strong>
  <%= @archivo.title %>
</p>
 
<p>
  <strong>Tipo:</strong>
  <%= @archivo.filetype %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @archivo.datefile %>
</p>

<%= link_to 'Home', archivos_path %>