<h1>File manager app</h1>

<table>
	<tr>
		<td>
			<%= button_to "Archivos", archivos_path, :method => :get %>
		</td>
		<td>
			<%= button_to "Iniciar Sesion", login_path, :method => :get %>
		</td>
		<td>
			<%= button_to "Registrarse", signup_path, :method => :get %>
		</td>
	</tr>
</table>